@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marquee {
  display: inline-block;
  white-space: nowrap; /* keep text on one line (you already have this via Tailwind) */
  padding-right: 2rem; /* small gap before repeat */
  animation: marquee 8s linear infinite;
}

@keyframes marquee {
  0%   { transform: translateX(150%); } /* start off right */
  100% { transform: translateX(-100%); } /* move fully left */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}